* {
  Margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedorIntroduccion {
  display: flex;
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
}

.hijoIntroduccion {
  height: 80%;
  width: 80%;
  margin-left: 8%;
}

.primerArticulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #F8E16C;
}

.segundoArticulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #F8E16C;
}

.mainDrinks .col {
  color: rgb(255, 255, 255);
}

.contenedorShishas {
  display: grid;
  grid-template-columns: 60vw 30vw;
  grid-template-rows: 72vh 50vh;
  grid-template-areas: "carrousel flyer" "panel     flyer";
  -moz-column-gap: 50px;
       column-gap: 50px;
}

.flyerShishas {
  grid-area: flyer;
}

.infoSabores {
  grid-area: panel;
}

@media screen and (max-width: 870px) {
  .encabezado h1 {
    font-size: 12px;
  }
  .segundoArticulo {
    display: none;
  }
}
@media screen and (max-width: 540px) {
  .encabezado button:not(.botonesFinal) {
    margin-left: 34%;
    padding: 10px 20px;
    font-size: 20px;
    margin-bottom: 3%;
  }
}
@media screen and (max-width: 646px) {
  .encabezado button:not(.botonesFinal) {
    margin-left: 35%;
    padding: 10px 20px;
    font-size: 20px;
    margin-bottom: 3%;
  }
}
@media screen and (max-width: 380px) {
  .col button {
    background-color: #171d1c;
    font-size: 13px;
    padding: 9px 15px;
    border-color: #198754;
    border-radius: 5px;
  }
}
@media screen and (max-width: 732px) {
  .contenedorIntroduccion {
    display: block;
  }
  .contenedorIntroduccion img {
    display: none;
  }
  .contenedorShishas {
    display: block;
  }
  #carouselExample {
    margin-left: 0;
  }
  .flyerShishas {
    width: 90%;
  }
  .infoSabores {
    width: 94%;
  }
}
@media screen and (max-width: 646px) {
  .footer__subPaginas {
    display: none;
  }
}
.fondo {
  width: 100%;
}

main {
  background-color: #171d1c;
}

button:hover {
  background-color: #198754;
}

button a {
  color: #198754;
  text-decoration: none;
}
button a:hover {
  color: rgb(255, 255, 255);
}

.botonesFinalesDeNav {
  display: flex;
  width: 70%;
  margin-right: 10%;
}

.col button {
  background-color: #171d1c;
  font-size: 16px;
  padding: 10px 20px;
  border-color: #198754;
  border-radius: 5px;
}

.cards {
  display: flex;
}
.cards .card {
  width: 18rem;
}
.cards .card .card-body {
  background-color: #4e6638;
  color: #F8E16C;
  border: 1px solid magenta;
}

#carouselExample {
  grid-area: carrousel;
  height: 100%;
  width: 100%;
  margin-left: 5%;
}

.primerArticulo #carouselExampleAutoplaying {
  width: 30%;
  height: 30%;
}

.encabezado {
  background-image: url(../images/fondoamazonico.jpg);
}
.encabezado button:not(.botonesFinal) {
  margin-left: 42%;
  padding: 20px 40px;
  font-size: 20px;
  margin-bottom: 3%;
}
.encabezado h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 9rem;
  font-family: "Lobster", cursive;
  -webkit-text-stroke: 2px #171d1c;
}

footer {
  background-color: #171d1c;
  color: #F8E16C;
}

.flyerShishas img {
  height: 100%;
  width: 110%;
}

.infoSabores img {
  height: 100%;
  width: 106%;
}

.cards img {
  width: 60%;
  height: 60%;
  margin-left: 13%;
}

.contenedorIntroduccion img {
  width: 35%;
  height: 35%;
  margin-left: 25%;
}

.contenedorDeMenuFood img {
  width: 100%;
}

.modal-body form {
  font-family: "Acme", sans-serif;
  font-size: 16px;
  border: 1px solid #4e6638;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  text-align: center;
  background-color: #354C20;
  color: #F8E16C;
  width: 80%;
  margin: 0 auto;
}

.contenedorDeLogosDeLaNav .logo {
  width: 25%;
  height: 25%;
}

.contenedorDeLogosDeLaNav .iconos {
  width: 12%;
  height: 12%;
}

#navbarSupportedContent {
  margin-right: 10%;
}

.col ul {
  list-style: none;
}

.col ul li a {
  color: #F8E16C;
}/*# sourceMappingURL=style.css.map */