button:hover {
    background-color: map-get($paleta_de_colores, verde );
}

button{

    a{
    color: map-get($paleta_de_colores, verde );
    text-decoration: none;

}

a:hover{
    color: map-get($paleta_de_colores, blanco );
}

}



.botonesFinalesDeNav{
    display: flex;
    width: 70%;
    margin-right: 10%;
}

.col {

    button{
    background-color: map-get($paleta_de_colores, negro );
    font-size: 16px;
    padding: 10px 20px;
    border-color: map-get($paleta_de_colores, verde );
    border-radius: 5px;
}

}