.flyerShishas{

    img{
    height: 100%;
    width: 110%;
}

}

.infoSabores{

    img{
    height: 100%;
    width: 106%;
}

}

.cards{

    img{
    width: 60%;
    height: 60%;
    margin-left: 13%;
}

}

.contenedorIntroduccion{

    img{
      width: 35%;
      height: 35%;
      margin-left: 25%;
  }

}

.contenedorDeMenuFood{
    img{
        width: 100%;
    }
}