.contenedorDeLogosDeLaNav{

    .logo{
    width: 25%;
    height: 25%;
    }

}

.contenedorDeLogosDeLaNav {

    .iconos{
    width: 12%;
    height: 12%;
}

}

#navbarSupportedContent{
    margin-right: 10%;
}


